* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#menu {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

#menu button {
  display: block;
  margin-bottom: 10px; /* Zwiększona przestrzeń między przyciskami */
  padding: 10px 20px; /* Zwiększone paddingi dla większej powierzchni klikalnej */
  font-size: 1.5em; /* Zwiększony rozmiar czcionki */
  cursor: pointer; 
}

#menuItems button {
  margin-top: 5px;
}

#menu button.active {
  background-color: orange;
}